<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172021089217-oouqae0h5fcd6tb7aim05uqbdmo64s6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172021089217-oouqae0h5fcd6tb7aim05uqbdmo64s6r</string>
	<key>API_KEY</key>
	<string>AIzaSyDT_po17c3Q8r6eDcP40YaHH9fWwhMpSu4</string>
	<key>GCM_SENDER_ID</key>
	<string>172021089217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mightystrong.sightwords</string>
	<key>PROJECT_ID</key>
	<string>sightwords-e60d4</string>
	<key>STORAGE_BUCKET</key>
	<string>sightwords-e60d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172021089217:ios:09466561414fe8c1db2540</string>
	<key>DATABASE_URL</key>
	<string>https://sightwords-e60d4.firebaseio.com</string>
</dict>
</plist>